.main {
    height: 100vh;
    background-color: #ffdf1a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.aboutMeInfo {
    border: 1px solid;
}

.aboutMePhoto img{
    max-width: 250px
}